.item-outside-container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.itemContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 400px;
  height: 500px;
  min-height: 400px;
  min-width: 500px;
  /* color:white !important; */
  color: #1a1a1a;
  /* text-shadow: 2px 2px black; */
  /* border: 10px solid black; */
  background-image: url("../item-shop-assets/scroll.png");
  border-radius: 25px;
  margin: 25px;
}

.imgContainer {
  border: solid 5px white;
  background-color: black;
  border-radius: 5px;
  width: 150px;
  height: 150px;
}

.itemImg {
  display: flex;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.itemInfo {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 80%;
  color: #3b3423 !important;
  margin-top: 5px;
}

.btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.purchase-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 5px;
  width: 100px;
  border-radius: 15px;;
  background-color: #3b3423;
  color: #fff;
  filter: drop-shadow(0 0 0.80rem rgb(34, 34, 34));
}

.purchase-button:hover {
  background-color: #52462f;
  filter: drop-shadow(0 0 0.80rem rgb(54, 54, 54));
}

.goldCoin {
  background-image: url("../../../../public/images/gold-coin.png");
  background-size: cover;
  width: 15px;
  height: 15px;
  border: none;
  margin-left: 5px;
  margin-top: 10%;
}
