.itemContainer{
    color:white !important;
    text-shadow: 2px 2px black;
    border: 10px solid black;
    background: url(http://wallpapercave.com/wp/aLwvoHY.jpg);
    border-radius: 25px;
    margin: 25px;
    

}

.imgContainer{
    border: solid 5px white;
    border-radius: 5px;
    width: 150px;
    height: 150px;
}
.itemImg{
    display: flex;
    object-fit: contain;
    width: 100%;
    height: 100%;
}