* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: 'Monomaniac One', sans-serif; */
  /* font-family: 'Inknut Antiqua', serif; */
  font-family: 'Play', sans-serif;
  /* font-family: 'Reggae One', 'Play', sans-serif; */
}

body {
  background: #E1CA96;
}

.home,
.about,
.game,
.sign-up {
  display: flex;
  height: 50vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.about {
  background-image: url('../public/images/DevBG.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff !important;
  font-size: 100px;
}

.game {
  background-image: url('../public/images/greenBG.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {
  background-image: url('../public/images/keyboard.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.game-container,
.about-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
  padding: 2rem;
}

.game-text,
.about-text {
  color: #252e48;
  font-size: 22px;
  line-height: 24px;
}

/* Account section */

.account-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.account-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.account-subtitle {
  font-size: 18px;
  margin-bottom: 10px;
}

.account-form {
  margin-bottom: 20px;
}

.account-input,
.account-button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.account-button {
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
}

.account-button:hover {
  background-color: #45a049;
}

.delete-account {
  margin-top: 20px;
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #ccc;
}

.delete-account .account-button {
  background-color: #ff5722;
}

.delete-account .account-button:hover {
  background-color: #f44336;
}

.account-sections {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.account-section {
  flex-basis: calc(50% - 10px);
  /* Adjust this value as needed */
  margin-bottom: 20px;
  /* Add margin-bottom for spacing */
}

/* End account section */

@media only screen and (max-width: 999px) {

  .about,
  .game {
    font-size: 80px;
  }

  .about {
    height: 30vh;
  }

}