.player-container {
  background-image: url("../../../public/images/stonewall.png");
    background-color: #1a1a1a;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    padding: 20px;
    box-shadow: inset 0 0 0 800px rgba(0, 0, 0, 0.3),
      inset 0 0 100px 10px rgba(0, 0, 0, 0.6),
      inset 0 0 100px 10px rgba(0, 0, 0, 0.4);
}

.player-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1120px;
  width: 80%;
  margin: 0 auto;
  position: relative;
  min-width:500px;
}

.player-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../../public/images/scroll.png");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  min-width: 500px;
  height: 100%;
  padding: 20% 10%;
}

.inventoryCard,
.playerCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width:80%;
}

.lastCard {
  margin-bottom:50px;
}

.username {
  color: #3b3423 !important;
  font-size:2.5rem;
  margin-top:50px;
  font-weight: bold;
}

.inventoryEquip,
.weaponEquip,
.armorEquip,
.playerStats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
  padding:30px;
  margin-top:10px;
  border: 2px solid #3b3423;
  border-radius:15px;
  color: #3b3423 !important;
  font-weight:bold;
}

.stats-container {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width:100%;
}

.armor-container,
.weapon-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.armor-image,
.weapon-image,
.player-stat-wrapper,
.armor-stat-wrapper,
.weapon-stat-wrapper,
.current-armor-title,
.current-weapon-title {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:15px;
}

.inventory-title,
.player-stats-title,
.current-armor-title,
.current-weapon-title {
  font-size: 1.5rem;
}

.stat-label {
  text-decoration: underline;
  margin-right: 10px;
}

.inventory-item-value {
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}

.armor-image,
.weapon-image {
  max-width:400px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:20px;
}

.toggle-button-container {
  display: flex;
  gap:20px;
}

.toggle-button,
.sell-button,
.equip-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 5px;
  width: 100px;
  border-radius: 15px;
  background-color: #3b3423;
  color: #fff;
  filter: drop-shadow(0 0 0.8rem rgb(34, 34, 34));
}

.toggle-button {
  width:200px;
}

.toggle-button:hover,
.sell-button:hover,
.equip-button:hover {
  background-color: #52462f;
  filter: drop-shadow(0 0 0.8rem rgb(54, 54, 54));
}

@media (max-width:1350px) {
  .lastCard {
    margin-bottom: 150px;
  }
}

@media (max-width: 999px) {

  .username {
    font-size: 2.2rem;
    margin-top: 100px;
  }

  .armor-image,
  .weapon-image {
    max-width: 200px;
  }

  .lastCard {
    margin-bottom: 150px;
  }

}

@media (max-width:800px) {
  .lastCard {
    margin-bottom: 200px;
  }
}