.sign-up-form-outer-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}

.sign-up-form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../../public/images/scroll.png");
  padding: 10px;
  margin: 10px;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  min-height: 800px;
  min-width: 500px;
  font-size: 1.4rem;
}

.signUpform-input-container input::placeholder {
  font-size: .75rem;
}

.sign-up-header h2 {
  margin-bottom: 20px;
  font-size: 3rem;
  color: #3b3423 !important;
}

/* .sign-up-form {
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 100%;
    align-items: center;
    margin-top: 2rem;
} */

video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.warrior-image {
 display: block;
 margin: 0 auto;
}

.sign-up-form h5 {
    color: #3b3423;
}

.btn-div {
    min-width: 100%;
    display: flex;
    justify-content: center;
}

.signUpform-input-container {
    min-width: 60%;
    /* border: 3px solid black; */
    background-color: rgba(255, 255, 255, 0);
    padding: 20px;
    border-radius: 15px;
    max-width: 750px;
}

.signup-password,
.signup-email,
.signup-username {
    min-width: 95%;
    justify-content: center;
}

.signUp-btn {
    color: black;
}