video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.home-container {
  /* This is where we will put image if we decide not to use a video */
  /* background: url('') center center/cover no-repeat; */
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.home-container h1 {
  color: rgba(255, 255, 255, .8) !important;
  font-size: 100px;
  margin-top: -100px;
}

.home-container p {
  margin-top: 8px;
  color: rgba(255, 255, 255, .8) !important;
  font-size: 32px;
  font-family: 'Play', sans-serif;
}

.home-warrior-container {
  display: flex;
  flex-direction: column;
}

.home-warrior-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap:50px;
}

.home-btns {
  margin-top: 32px;
}

.home-btns .btn {
  margin: 6px;
}

.home-btns .play-btn:hover {
  font-size: 24px;
}

.fa-play-circle {
  margin-left: 4px;
}

/* Changing the background color for our buttons only on the HomeSection */

.btn-solid {
  background-color: rgba(255, 255, 255, .8) !important;
}

.btn-medium:hover,
.btn-large:hover {
  background: rgba(255, 255, 255, .8) !important;
  color: #025483;
  transition: all 0.3s ease-out;
}




@media screen and (max-width: 960px) {
  .home-container h1 {
    font-size: 70px;
    margin-top: -150px;
  }
}

@media screen and (max-width: 768px) {
  .home-container h1 {
    font-size: 50px;
    margin-top: -100px;
  }

  .home-container p {
    font-size: 30px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
}