/* Navbar Sign In Form */
.navbar-sign-in-form {
  height: 85px;
  padding: 0 10px;
  border: 1px solid #fff;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

.form-input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.login-form-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.input-columns {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.navbar-input {
  margin-bottom: 5px;
  height: 1.5rem !important;
  width: 168px;;
}

.login-submit-btn {
  padding: 10px !important;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: #fff;
  border: 1px solid var(--white);
  transition: all 0.3s ease-out;
}

.login-submit-btn:hover {
  background-color: #ffffff;
  color: #1a1a1a;
}

.navbar-btn {
  margin-left: 10px;
}

h5 {
  color: #fff;
  margin-bottom: 3px;
}

/* Logout Message Start */

.logout-container {
  display: flex;
  flex-direction: column;
}

.logout-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.hello-user {
  color: #fff;
}

/* Logout User End */