
body {
  background-color: #1a1a1a;
  color: #fff;
}

.shop-page-title {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.shop-page-title-wrapper {
  width:80%;
  max-width:1250px;
  padding: 20px 30px 0 30px;
}

h2 {
  color: #ffffff !important;
  line-height: 1.3;
}