.cards {
  padding: 4em;
  background-image: url(../../../public/images/stonewall.png);
  box-shadow:
    inset 0 0 0 800px rgba(0, 0, 0, 0.3),
    inset 0 0 100px 10px rgba(0, 0, 0, 0.6),
    inset 0 0 100px 10px rgba(0, 0, 0, 0.4);
}

h1 {
  text-align: center;
}

.cards-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}

.cards-wrapper {
  position: relative;
  margin: 30px 0 30px;
  width: 100%;
}

.cards-items {
  margin-bottom: 20px;
}

.about-scroll-bg {
  display:flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../../public/images/scroll.png");
  padding:10px;
  margin:10px;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
}

.card-item-wrapper {
  display:flex;
  justify-content: center;
  align-items: center;
  width:70%;
}

CardItem {
  width:70%;
}

.cards-item {
  display: flex;
  flex: 1;
  margin: 0 1rem;
  min-width: 100px;
  border-radius: 10px !important;
  padding-top:20px;
  text-align: center;
  /* box-shadow: 0 6px 15px rgba(56, 125, 255, 0.5);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017)); */
}

.cards-link {
  width: 100%;
  text-decoration: none;
}

.cards-item-link {
  display: flex;
  flex-flow: column;
  width: 100%;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}

.cards-item-pic-wrap {
  position: relative;
  width: 100%;
  padding-top: 67%;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}

.cards-item-pic-wrap::after {
  content: attr(data-category);
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 6px 8px;
  max-width: calc((100%) - 60px);
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  /* background-color: #1f98f4; */
  box-sizing: border-box;
}

.cards-item-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
}

.cards-item-img:hover {
  transform: scale(1.1);
}

.cards-item-info {
  padding: 20px 20px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards-item-text {
  color: #252e48;
  font-size: 19px;
  line-height: 24px;
}

@media only screen and (min-width: 1200px) {
  .content-blog-container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .cards-items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .cards-item {
    margin-bottom: 2rem;
  }
}