.rules-container {
  background: rgba(255,255,255,.8) !important;
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
}

.rules {
  padding: 2rem;
  width:75%;
}

h1, h2 {
  font-family: 'Augusta-Shadow', cursive, 'Times New Roman', Times, serif;
  font-style: italic;
}

li {
  font-family: 'Augusta', cursive, 'Times New Roman', Times, serif;
  font-style: italic;
}

h1 {
  text-align: center;
  font-size:3rem;
  color: rgba(26, 26, 26, .87) !important;
}

h2 {
  text-align: center;
  font-size: 1.85rem;
  color: rgba(26, 26, 26, .87) !important;
}

li {
  color: rgba(26, 26, 26, .87) !important;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1.25rem;
}

.rules-wrapper {
  position: relative;
  margin: 30px 0 10px;
  width: 100%;
}

/* Changing the background color for our buttons only on the HomeSection */
/* //! May need to move this to Button.js and Button.css to work correctly and not affect other buttons */

/* .btn-outline-rules {
  background-color: transparent;
  color: rgba(26, 26, 26, .8) !important;
  padding: 8px 20px;
  border: 2px solid #1a1a1a;
  font-weight: 700;
  transition: all 0.3s ease-out;
}

.btn-large-rules:hover {
  background: rgba(26, 26, 26, .99) !important;
  color: rgba(255, 255, 255, .85) !important;
  transition: all 0.3s ease-out;
} */

