.rules-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 0 auto;
  border-radius: 10px;
}

#rules-bg {
  display: flex;
  background-image: url("../../../public/images/rules-bg.png") !important;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  opacity: 85%;
  padding: 20% 10%;
}

.rules {
  width: 75%;
  height: 100%;
}

.rules-items {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
  list-style: decimal inside !important;
  flex-shrink: 2;
  align-items: flex-start;
  margin-bottom: 5%;
  counter-reset: rule-counter;
}

.rules-list::before {
  counter-increment: rule-counter;
  content: counter(rule-counter) ".";
  padding-right: 0.5rem;
}

.rules-title {
  font-family: "Augusta-Shadow", cursive, "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 6vh;
  font-weight: bolder;
  color: #3b3423 !important;
}

ol {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
  list-style: decimal inside !important;
}

.rules-list {
  display: flex;
  justify-content: center;
  font-family: "Augusta", cursive, "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 4vh;
  width: 87%;
  margin: 0 auto;
  list-style: decimal inside !important;
  margin-bottom: 2%;
}

h1 {
  text-align: center;
  font-size: 3rem;
  color: rgba(26, 26, 26, 0.87) !important;
}

h2 {
  text-align: center;
  font-size: 1.85rem;
  color: rgba(26, 26, 26, 0.87) !important;
}

li {
  color: #3b3423 !important;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1.25rem;
}

.rules-wrapper {
  position: relative;
  margin: 30px 0 10px;
  width: 100%;
}

.back-to-top {
  display: flex;
  justify-content: center;
  font-family: "Augusta", cursive, "Times New Roman", Times, serif;
}

/* Changing the background color for our buttons only on the HomeSection */
/* //! May need to move this to Button.js and Button.css to work correctly and not affect other buttons */

/* .btn-outline-rules {
  background-color: transparent;
  color: rgba(26, 26, 26, .8) !important;
  padding: 8px 20px;
  border: 2px solid #1a1a1a;
  font-weight: 700;
  transition: all 0.3s ease-out;
}

.btn-large-rules:hover {
  background: rgba(26, 26, 26, .99) !important;
  color: rgba(255, 255, 255, .85) !important;
  transition: all 0.3s ease-out;
} */
