.navbar {
  background-image: url("../../../public/images/navbar-bg.png");
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 9999;
  border: 5px solid black;
  filter: drop-shadow(0 0 0.75rem #201B15);
  cursor: url("../../../public/images/dagger-cursor1.png")18 14, auto !important;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  max-width: 1700px;
  /* min-width: 1000px; */
}

.navbar-project-name {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2.25rem;
  display: flex;
  align-items: center;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 5px;
  list-style: none;
  text-align: center;
  width: 55vw;
  justify-content: flex-start;
}

.nav-menu li {
  margin-bottom: 0 !important;
  font-size:1rem;
}

.nav-item {
  height: 90px;
  margin-right: 2rem;
  background-image: url("../../../public/images/navlink-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.nav-item:hover {
  filter: drop-shadow(0 0 0.90rem crimson);
  transform: scale(1.05);
}

.nav-links-mobile,
.nav-links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem .5rem;
  height: 100%;
  width: 125px;
  text-align: center;
  justify-content: center;
  user-select: none;
  cursor: url("../../../public/images/dagger-cursor1.png")18 14, auto !important;
}

.fa-bars {
  color: #fff;
}

/* .nav-links-mobile {
  display: none;
} */

.menu-icon {
  display: none;
}

/* Navbar Sign In Form */
.navbar-sign-in-form {
  height:80px;
  padding: 0 3px 0 3px;
  display: flex;
  align-items: center;
  user-select: none;
}

.form-input-container {
  height: 80px;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-input {
  margin-right: 10px;
}

.navbar-btn {
  height: 100%;
}

#audio {
  width: 40px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5px;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 100px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    justify-content: flex-start;
   
  }

  .nav-menu.active {
    background: rgba(100, 100, 100, .5);
    box-shadow: 0 0 10px rgba(100, 100, 100, 1);
    border: blur(5px);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: rgba(0,0,0,.4);
    color: #fff;
    border-radius: 15px;
  }

  .navbar-project-name {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    /* top: 0; */
    left: 10%;
    /* transform: translate(-100%, 60%); */
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    transition: all 0.3s ease-out;
    height: auto;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #1a1a1a;
    transition: 250ms;
  }

  .navbar-sign-in-form {
  height:80px;
  padding: 0 3px 0 3px;
  display: flex;
  align-items: center;
  user-select: none;
  justify-content: center;
}
}