.outside-task-container {
  background-image: url(./taskListAssets/stonewall.png);
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  object-fit: contain;
  padding: 20px;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.1);
}

.task-container {
  display: flex;
  flex-direction: column;
  max-width: 1120px;
  width: 70%;
  margin: 0 auto;
}

.task-wrapper {
  /* border: 1px solid #000; */
  background-image: url(./taskListAssets/scroll.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-top: 5px #000;
  margin: 0;
  padding: 0;
  background-position: center;


  /* background-color: #c3c3c3; */
  border-radius: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  /* box-shadow: 0 0 50px 20px rgba(0, 0, 0, 1); */
}

.scroll-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* overflow: auto; */
}

.task-form-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.question {
  display: inline-block;
  padding: 0 30px;
}

.task-form-wrapper label {
  font-size: 1.5rem;
}

.task-form-wrapper input,
.task-form-wrapper select {
  height: 2rem;
  width: 10rem;
  margin-bottom: 50px;
}

.addTaskButton {
  width: 120px;
  background-color: #444444;
  color: white;
  font-size: 1.35rem;
  padding: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  /* margin-left:20px; */
}

.addTaskButton:hover {
  background-color: #1a1a1a;
}

.task-list {
  list-style: none;
  padding: 0;
}

.task {
  margin-bottom: 10px;
}

.active-tasks-container {
  width: 80%;
}

.completed-tasks-container {
  width: 85%;
}

.task-card {
  border: 3px solid #646464;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}

.task-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.task-name-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.task-stuff-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}

.task-created-container {
  margin-top: 0px;
}

.task-name {
  font-weight: bold;
  font-size: 1.85rem;
}

.task-difficulty-label {
  font-size: 1.25rem;
  margin-right: 5px;
}

.task-difficulty {
  font-style: italic;
  font-size: 1.25rem;
}

.task-difficulty.easy {
  color: green;
}

.task-difficulty.medium {
  color: blue;
}

.task-difficulty.hard {
  color: red;
}

.task-category {
  margin-left: 10px;
  font-size: 1.25rem;
}

.task-completed-date {
  margin-top: 5px;
  font-size: 12px;
  color: #1a1a1a;
}

.task-actions {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 5px;
}

.task-actions button {
  width: 80px;
  background-color: #444444;
  color: white;
  font-size: .75rem;
  padding: 3px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.addTaskButton:hover {
  background-color: #1a1a1a;
}

h2 {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 2rem;
}