.outside-task-container {
  background-image: url(./taskListAssets/stonewall.png);
  background-color: #1a1a1a;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  object-fit: contain;
  padding: 20px;
  /* box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3); */
  box-shadow: inset 0 0 0 800px rgba(0, 0, 0, 0.3),
    inset 0 0 100px 10px rgba(0, 0, 0, 0.6),
    inset 0 0 100px 10px rgba(0, 0, 0, 0.4);
}

.task-container {
  display: flex;
  flex-direction: column;
  max-width: 1120px;
  width: 70%;
  margin: 0 auto;
  position: relative;
  /* overflow: hidden; */
}

.task-list-header {
  margin-top: 20px;
}

.task-wrapper {
  /* border: 1px solid #000; */
  /* background-image: url(./taskListAssets/scroll.png); */
  /* background-image: url(./taskListAssets/stonewall.png); */
  background-size: cover;
  background-repeat: no-repeat;
  border-top: 5px #000;
  margin: 0;
  padding: 0;
  background-position: center;

  /* background-color: #c3c3c3; */
  border-radius: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  /* box-shadow: 0 0 50px 20px rgba(0, 0, 0, 1); */
}

/* .scroll-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(./taskListAssets/scroll.png);
  background-size: cover;
  background-position: center;
  width:100%;
  /* height:100vh; */
/* overflow: auto; */
/* } */

.scroll-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./taskListAssets/scroll.png) !important;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  min-width: 500px;
  height: 100%;
  padding: 20% 10%;
}

.task-form-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.25);
}

.question {
  display: inline-block;
  padding: 0 10px;
}

.task-form-wrapper label {
  font-size: 1.2rem;
}

.task-form-wrapper input,
.task-form-wrapper select {
  height: 2.5rem !important;
  width: 10rem;
  margin-bottom: 20px;
  border-radius: 10px;
  border: none;
}

.addTaskButton {
  /* width: 120px; */
  background-color: #444444;
  white-space: nowrap;
  color: white;
  font-size: 1rem;
  padding: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 20px;
}

.addTaskButton:hover {
  background-color: rgb(51, 42, 30);
}

.task-list {
  list-style: none;
  padding: 0;
}

.task {
  margin-bottom: 10px;
}

.active-tasks-header,
.completed-tasks-header {
  margin-top: 30px;
}

.active-tasks-container,
.completed-tasks-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  overflow-y: scroll;
  width: 80%;
  max-height: 500px;
  border: 2px solid #1a1a1a;
  border-radius: 15px;
  padding: 20px;
}

.active-tasks-container {
  background: rgba(213, 185, 145, 1);
}

.completed-tasks-container {
  background: rgba(221, 196, 158, 1);
}

::-webkit-scrollbar {
  display: block;
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #444444;
  border-right: none;
  border-left: none;
  margin-right: 10px !important;
  height: 90%;
  border-radius: 5px;
}

::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 10px;
}

::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 10px;
}

.completed-tasks-container {
  width: 85%;
}

.task-card {
  background: rgba(157, 107, 64, 0.5);
  /* border: 3px solid #646464; */
  border-radius: 15px;
  padding: 10px;
  width: 100%;
}

.task-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.task-name-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 2.25rem; */
}

.task-stuff-container {
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  /* height: 1.85rem; */
}

.task-created-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  /* height: 1.5rem; */
  margin-bottom: 10px;
}

.task-name {
  font-weight: bold;
  font-size: 1.65rem;
}

.task-difficulty-label {
  font-size: 1.18rem;
  margin-right: 5px;
}

.task-difficulty {
  font-style: italic;
  font-size: 1.18rem;
}

.task-difficulty.easy {
  color: green;
}

.task-difficulty.medium {
  color: blue;
}

.task-difficulty.hard {
  color: red;
}

.task-category {
  /* margin-left: 10px; */
  font-size: 1.25rem;
}

.task-completed-date {
  margin-top: 5px;
  font-size: 12px;
  color: #1a1a1a;
}

.task-actions {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 5px;
}

.task-actions button {
  width: 80px;
  background-color: #444444;
  color: white;
  font-size: 0.75rem !important;
  padding: 3px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.addTaskButton:hover {
  background-color: rgb(51, 42, 30);
}

h2 {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 2rem;
}

@media (max-width: 999px) {
  .task-list-header {
    margin-top: 60px;
  }

  .task-name {
    font-weight: bold;
    font-size: 1.4rem;
  }

  .task-difficulty-label {
    font-size: 1rem;
    margin-right: 5px;
  }

  .task-difficulty {
    font-style: italic;
    font-size: 1rem;
  }

  .task-category {
    margin-left: 10px;
    font-size: 1rem;
  }
}
